<header>
  <nav>
    <a href="/">
      <h1>
        Inventory App
      </h1>
    </a>
    <div>
      <a href="/products">Products</a>
      <a href="/categories">Categories</a>
    </div>
  </nav>
</header>