<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inventory App</title>
  <link rel="stylesheet" href="../css/global.css">
  <link rel="stylesheet" href="../css/index.css">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
  <%- include("partials/header") %>
  <main>
    <div class="welcome-container">
      <h1>Welcome!</h1>
      <p>This is an Inventory Manager designed to help you organize, track, and manage your products with ease. Categorize items, upload images, and keep everything in order.</p>
      <div>
        <a class="default-btn" href="/products">View Products</a>
        <a class="default-btn" href="/categories">View Categories</a>
      </div>
    </div>
  </main>
</body>
</html>