.categories-container > div {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
}

.categories-container > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.category-card > p {
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 5px;
}

.category-card > div > p {
  margin-bottom: 5px;
  font-weight: 600;
}

.subcategory-list {
  display: flex;
  flex-direction: column;
}

.subcategory-list > li {
  border-radius: 5px;
}

.subcategory-list > li > a {
  display: flex;
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.subcategory-list > li:hover {
  background-color: #e1e1e1;
}